//- Copyright (C) 2017 Alexandre Pielucha, Marie Perin, Arnaud Petitcol, Marion Jolly
//- 
//- Permission to use, copy, modify, and/or distribute this software for any
//- purpose with or without fee is hereby granted, provided that the above
//- copyright notice and this permission notice appear in all copies.
//- 
//- THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
//- WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
//- MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
//- ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
//- WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
//- OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
//- CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

extends layout

block title
    title Burger Mania

block styles
    link(rel='stylesheet', href='/css/confirmation.css')

block content
    .hidden
        span#salade #{burger.salade}
        span#tomates #{burger.tomates}
        span#steak #{burger.steak}
        span#oignons #{burger.oignons}
        span#cornichons #{burger.cornichons}
        span#fromage #{burger.fromage}
    
    .container.text-center
        h1 Merci #{burger.name} ! Ta commande de 
            span#price 10
            | € sera livrée dans une heure !

block scripts
    script(src='/js/confirmation.js')
