//- Copyright (C) 2017 A. Pielucha, M. Perin, A. Petitcol, M. Jolly
//- 
//- Permission to use, copy, modify, and/or distribute this software for any
//- purpose with or without fee is hereby granted, provided that the above
//- copyright notice and this permission notice appear in all copies.
//- 
//- THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
//- WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
//- MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
//- ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
//- WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
//- OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
//- CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

extends layout

block title
    title Burger Mania

block styles
    link(rel='stylesheet', href='/css/create.css')

block content
    .container
        .row.justify-content-center.titles
            h1 Composer mon burger

        .row
            .col-lg-4.col-md-3
                h2 Add ingredients
                form#create(action='/create' method='post')
                    .form-group
                        input(id='name' type='text' name='name' placeholder="What's your name ?")
                    .checkbox
                        input(id='salade' type='checkbox' name='salade' data-price='0.5')
                        label(for='salade') Salade - 0,5€
                    .checkbox
                        input(id='tomates' type='checkbox' name='tomates' data-price='0.5')
                        label(for='tomates') Tomates - 0,5€
                    .checkbox
                        input(id='steak' type='checkbox' name='steak' data-price='5')
                        label(for='steak') Steak - 5€
                    .checkbox
                        input(id='oignons' type='checkbox' name='oignons' data-price='0.5')
                        label(for='oignons') Oignons - 0,5€
                    .checkbox
                        input(id='cornichons' type='checkbox' name='cornichons' data-price='0.5')
                        label(for='cornichons') Cornichons - 0,5€
                    .checkbox
                        input(id='fromage' type='checkbox' name='fromage' data-price='2')
                        label(for='fromage') Fromage - 2€

            .col-lg-6.col-md-7
                .container.text-center.pain
                    img(src="img/pain_top.png" alt="Image Title")
                .container#img-tomates.ingredients.text-center.hidden
                    img(src="img/tomates.png" alt="Image Title")
                .container#img-fromage.ingredients.text-center.hidden
                    img(src="img/fromage.png" alt="Image Title")
                .container#img-steak.ingredients.text-center.hidden
                    img(src="img/steak.png" alt="Image Title")
                .container#img-cornichons.ingredients.text-center.hidden
                    img(src="img/cornichons.png" alt="Image Title")
                .container#img-oignons.ingredients.text-center.hidden
                    img(src="img/oignons.png" alt="Image Title")
                .container#img-salade.ingredients.text-center.hidden
                    img(src="img/salade.png" alt="Image Title")
                .container.text-center.pain
                    img(src="img/pain_bot.png" alt="Image Title")

            .col-lg-2.col-md-2
                h2 Total
                p 
                    span#price 0
                    | €

                button#confirm.btn.btn-dark Valider commande

block scripts
    script(src='/js/create.js')
