// Copyright (C) 2017 A. Pielucha, M. Perin, A. Petitcol, M. Jolly
//
// Permission to use, copy, modify, and/or distribute this software for any
// purpose with or without fee is hereby granted, provided that the above
// copyright notice and this permission notice appear in all copies.
//
// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
// WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
// MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
// ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
// WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
// OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
// CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

.container
    padding-top 30px

.titles
    text-transform uppercase
    text-shadow 3px 3px 8px rgba(44, 62, 80, 0.4)

h1
    color #2c3e50
    font-size 3em
    letter-spacing 4px
    padding-left 4px

h2
    color #2c3e50
    font-size 2em
    letter-spacing 4px
    padding-left 4px
    padding-bottom 30px

.ingredients
    padding 0

.pain
    padding-top 0

input
  margin-right 10px

img
  width 250px

.checkbox
  padding-top 8px
  padding-bottom 8px

  :hover
    cursor pointer

label
  :hover
    cursor pointer

.visible
  display visible

.hidden
  display none

p
  font-size 1.5em

button
  margin-top 50px
  margin-bottom 50px
