// Copyright (C) 2017 Alexandre Pielucha, Marie Perin, Arnaud Petitcol, Marion Jolly
//
// Permission to use, copy, modify, and/or distribute this software for any
// purpose with or without fee is hereby granted, provided that the above
// copyright notice and this permission notice appear in all copies.
//
// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
// WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
// MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
// ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
// WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
// OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
// CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

@font-face
    font-family Roboto
    font-style normal
    src url('../fonts/Roboto-Regular.ttf')

@font-face
    font-family Roboto
    font-style bold
    src url('../fonts/Roboto-Bold.ttf')

html
    font-family Roboto, Calibri, Arial, sans-serif

html, body
    height 100%

body
    background-image url('/img/background.jpg')
