// Copyright (C) 2017 Alexandre Pielucha, Marie Perin, Arnaud Petitcol, Marion Jolly
//
// Permission to use, copy, modify, and/or distribute this software for any
// purpose with or without fee is hereby granted, provided that the above
// copyright notice and this permission notice appear in all copies.
//
// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
// WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
// MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
// ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
// WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
// OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
// CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

.container
    padding-top 150px

.titles
    text-transform uppercase
    text-shadow 3px 3px 8px rgba(44, 62, 80, 0.5)

    h1
        color #2c3e50
        font-size 6em
        font-weight bold
        letter-spacing 50px
        padding-left 50px

    h2
        padding-top 10px
        color #34495e
        font-size 3em
        letter-spacing 4px
        padding-left 4px

.create
    padding-top 130px

    a
        padding 20px
        background-color #34495e
        border none
        outline none
        border-radius 3px
        color #ecf0f1
        font-weight bold
        text-align center
        text-transform uppercase
        letter-spacing 6px
        text-shadow 1px 1px 2px rgba(44, 62, 80, 0.8)
        box-shadow 3px 3px 8px rgba(44, 62, 80, 0.5)

        &:hover, &:active
            background-color #2c3e50
            text-decoration none

        &:active
            box-shadow 1px 1px 3px rgba(44, 62, 80, 0.8)
